<article id="art-accueil">
    <header>
        <h1>Accueil</h1>
    </header>
    <section>
        <p>Le somatopathe se propose de pratiquer les techniques manuelles fondées sur l'ostéopathie et inspirées directement de l'enseignement de Maurice Raymond POYET dont Pierre-Camille VERNET fut l'élève. Cette connaissance est enrichie de la recherche en somatopathie de Pierre-Camille VERNET. 

On parle désormais de somatopathie pour les techniques issues de cette école cousine de l'ostéopathie originelle de Sutherland. Depuis 2007, le terme "ostéopathie" est réservé en France aux écoles d'ostéopathies manipulatives.</p>
    </section>
    <footer>
    </footer>
</article>